name: Tests
on:
  push:
  pull_request_target:
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Install modules
        run: npm ci
      - name: Run ESLint
        run: ./node_modules/.bin/eslint **/*.ts

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Install modules
        run: npm ci
      - name: Run Unit Tests (jest)
        run: npx jest --coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
